.bgCon {
    background: #EFEFEF;
}

.content {
    color: #212121;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    /* 120% */
}

.content2 {
    color: #212121;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    /* 120% */
}

.fIcon {
    bottom: 10%;
    right: 10%;
}

.btn {
    background-color: #212121 !important;
}

.pre {
    left: -8rem;
}

.bgCon2 {
    background-color: #E5DCCE;
    ;
}

.swiper-button-next {
    right: 4rem !important;
    top: 25% !important;
    color: #a6a6a6 !important;
}

.swiper-button-next::after {
    font-size: 20px !important;
}

.swiper-button-prev {
    left: 4rem !important;
    top: 25% !important;
    color: #a6a6a6 !important;
}

.swiper-button-prev::after {
    font-size: 20px !important;
}

.he2 {
    color: #54595F;
    font-family: Open Sans;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 51.6px;
    /* 120% */
}

.p2 {
    color: #212529;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.he3 {
    color: #212121;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
    /* 120% */
}

.bgCon3 {
    background: #CDF5FF;
}

.link {
    text-decoration: none;
    color: #3A61CA;
    text-align: right;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: 2px solid transparent;
    transition: 0.2s all ease;
    /* 150% */
}

.iconLink:hover {
    scale: 1.1;
    transition: 0.4 all ease;
}

.link:hover {
    border-bottom: 2px solid #3A61CA;
}

@media(max-width:768px) {

    .swiper-button-next {
        right: 0 !important;

    }


    .swiper-button-prev {
        left: 0 !important;

    }

    .pre {
        left: 0 !important
    }

    .fIcon {
        bottom: 0;
    }
}